<%= render 'layouts/signupform' %>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			 <%= link_to "ZapCove", root_path, class: "brand" %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><%= link_to "Home",    root_path %></li>
					<li><%= link_to "Nosotros",   about_path %></li>
					<% if user_signed_in? %><li><%= link_to "App&Help&Faq",   help_path %></li><% end %>
					<li><%= link_to "Contacto",   contact_path %></li>
					<li><a href="#blog">Blog</a></li>
				</ul>
				<%= render 'layouts/sessions' %>
			</div>
		</div>
	</div>
</div>
